<link href="/static/css/styles-plan.css" rel="stylesheet">
<link href="/static/css/simple-sidebar.css" rel="stylesheet">

<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <h1>This is where the plan of study will be</h1>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <nav class="navbar" role="navigation">
                <div id="main-nav" class="collapse navbar-collapse navbar-fixed-top">
                    <ul class="nav nav-tabs" role="tablist">
                        {% for i in range(semester_num) %}
                        <li><a href="#" class="scroll-link" data-id="semester{{i}}-section">Semester {{i}}</a></li>
                        {% endfor %}
                        <li><a href="#menu-toggle" class="scroll-link" id="menu-toggle">Toggle Plan</a></li>
                    </ul>
                </div>
            </nav>
            <div class="col-lg-10" id="schedule">
            {% for i in range(semester_num) %}
                {% if i == 0 %}
                <div class="page-section top-semester" id="semester{{i}}-section">
                {% elif i % 2 == 1 %}
                <div class="page-section left-semester" id="semester{{i}}-section">
                {% else %}
                <div class="page-section right-semester" id="semester{{i}}-section">
                {% endif %}
                    <div class="container semester-title">
                        <h3>Semester {{i}} Schedule </h3>
                        <h4>Total Credits: <span class="text-success">0</span></h4>
                    </div> <!-- /.semester-title -->

                    {% if i == 0 %}
                    <div class="list-group semester-list fall-semester spring-semester" id="semester{{i}}-list">
                    {% elif i % 2 == 1 %}
                    <div class="list-group semester-list fall-semester" id="semester{{i}}-list">
                    {% else %}
                    <div class="list-group semester-list spring-semester" id="semester{{i}}-list">
                    {% endif %}

                    {% for course in my_courses[i] %}
                        <div class="list-group-item" data-id="{{course.id}}">
                            <div class="panel panel-default class-panel">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <span class="badge">{{course.credits}}</span>
                                                {{course.subject_code}} {{course.number}} -
                                                {% if course.fall and not course.spring %}
                                                    F
                                                {% elif not course.fall and course.spring %}
                                                    S
                                                {% else %}
                                                    F/S
                                                {% endif %}
                                        <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-down"></i></span>
                                    </h4>
                                </div> <!-- /.panel-heading -->
                                <div class="panel-body panel-collapsed">
                                    <h5>Course Name: {{course.name}}</h5>
                                    {% if course.description and course.description | length > 0 %}
                                    <p>Description: {{course.description}}</p>
                                    {% endif %}
                                    {% if course.prerequisites | length > 0 %}
                                        <p>Prerequsites:
                                        {% for prereq in course.prerequisites %}
                                            {{prereq.subject_code}} {{prereq.number}},
                                        {% endfor %}
                                        </p>
                                    {% endif %}
                                    {% if course.corequisites | length > 0 %}
                                        <p>Corequsites:
                                        {% for coreq in course.corequisites %}
                                            {{coreq.subject_code}} {{coreq.number}},
                                        {% endfor %}
                                        </p>
                                    {% endif %}
                                </div> <!-- /.panel-body -->
                            </div> <!-- /.panel-default -->
                        </div> <!-- /.list-group-item -->
                    {% endfor %}
                    </div> <!-- /.semester-list -->
                </div> <!-- /.page-section top or right or left semester -->
                {% endfor %}
                <div class="page-section" id="classes-section">
                    <div class="list-group semester-list" id="classesList">
                    {% for course in all_courses %}
                        <div class="list-group-item" data-id="{{course.id}}">
                            <div class="panel panel-default class-panel">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <span class="badge">{{course.credits}}</span>
                                                {{course.subject_code}} {{course.number}} -
                                                {% if course.fall and not course.spring %}
                                                    F
                                                {% elif not course.fall and course.spring %}
                                                    S
                                                {% else %}
                                                    F/S
                                                {% endif %}
                                        <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-down"></i></span>
                                    </h4>
                                </div> <!-- /.panel-heading -->
                                <div class="panel-body panel-collapsed">
                                    <h5>Course Name: {{course.name}}</h5>
                                    {% if course.description and course.description | length > 0 %}
                                    <p>Description: {{course.description}}</p>
                                    {% endif %}
                                    {% if course.prerequisites | length > 0 %}
                                        <p>Prerequsites:
                                        {% for prereq in course.prerequisites %}
                                            {{prereq.subject_code}} {{prereq.number}},
                                        {% endfor %}
                                        </p>
                                    {% endif %}
                                    {% if course.corequisites | length > 0 %}
                                        <p>Corequsites:
                                        {% for coreq in course.corequisites %}
                                            {{coreq.subject_code}} {{coreq.number}},
                                        {% endfor %}
                                        </p>
                                    {% endif %}
                                </div> <!-- /.panel-body -->
                            </div> <!-- /.panel-default -->
                        </div> <!-- /.list-group-item -->
                    {% endfor %}
                    </div> <!-- /#classesList -->
                </div> <!-- /#classes-section -->
            </div> <!-- /#schedule -->
        </div> <!-- /.container-fluid -->
    </div> <!-- /#page-content-wrapper -->
</div> <!-- /#wrapper -->

<!-- Menu Toggle Script -->
<script>
$("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
});
</script>

<script src="/static/js/dragging.js"></script>

