<div class="row">
    <div class="span2" id="semester-tabs">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs nav-stacked" role="tablist">
            {% for i in range(semester_num) %}
            <li role="presentation"><a href="#semester{{i}}-tab" aria-controls="semester{{i}}"
                                                      role="tab" data-toggle="tab">Semester {{i}}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="span6" id="schedule">
        <!-- Tab panes -->
        <div class="tab-content">
            {% for i in range(semester_num) %}
                <div role="tabpanel" class="tab-pane fade" id="semester{{i}}-tab">
                    <h3>Semester {{i}} Schedule </h3>
                    <h4>Total Credits: <span class="text-success">0</span></h4>
                    <div class="list-group semester-list" id="semester{{i}}-list">
                        <div class="list-group-item placeholder">
                            Placeholder Class
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="span4" id="plan">
        <h3>Select your school and majors</h3>
        <p>Insert form here</p>
        <h3>Your default plan of study will go here</h3>
        <p>Plan of Study</p>
    </div>
</div>
<div class="row">
    <div id="classes" class="span12">
        <!-- List with handle -->
        <div id="classesList" class="list-group">
            <div class="list-group-item placeholder">
                Placeholder Class
            </div>
            <div class="list-group-item">
                <span class="glyphicon glyphicon-move" aria-hidden="true"></span>
                <span class="badge">3</span>
                Class 1
            </div>
            <div class="list-group-item">
                <span class="glyphicon glyphicon-move" aria-hidden="true"></span>
                <span class="badge">4</span>
                Class 2
            </div>
            <div class="list-group-item">
                <span class="glyphicon glyphicon-move" aria-hidden="true"></span>
                <span class="badge">1</span>
                Class 3
            </div>
        </div>
    </div>
</div>

<script src="/static/js/dragging.js"></script>